@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    max-width: 100%;
}

:root {
    --primary-color: rgba(44, 43, 53, 1);
    --text-color-1: rgba(111, 121, 115, 1);
    --link-color-1: rgba(67, 165, 72, 1);
    --link-color-2: rgba(50, 127, 54, 1);
    --color-white: rgba(255, 255, 255, 1);
    --box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    --backround-color: #F7F8F8;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.mt-20 {
    margin-top: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.d-block {
    display: block !important;
}

nav {
    padding: 28px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-left a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

nav .nav-left a img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

nav .nav-left a span {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--primary-color);
}

nav .nav-right ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 51px;
}

nav .nav-right #menu_btn {
    display: none;
}

nav .nav-right ul li a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    transition: 0.3s;
}

nav .nav-right ul li a:hover {
    color: rgba(67, 165, 72, 1);
    transition: 0.3s;
}

nav .nav-right ul li button {
    background: linear-gradient(100.98deg, #43A548 -4.14%, #52E259 108.69%);
    padding: 10px 20px;
    border-radius: 1000px;
    color: rgb(247, 248, 248);
    font-weight: 600;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

nav .nav-right ul li button:hover {
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(67, 165, 72, 0.4);
}

@media(max-width:900px) {
    nav {
        padding: 34px 20px;
        position: sticky;
        top: 0;
        z-index: 15;
        background: var(--backround-color);
    }

    nav .nav-right ul {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: 0.5s;
        transform: translateY(-200px);
        width: 100%;
        height: fit-content;
        background: rgb(0, 200, 255);
        display: block;
        text-align: center;
        padding: 20px 0;
        z-index: 1;
    }

    nav .nav-right ul li {
        margin: 0 0 15px 0;
    }

    nav .nav-right ul.open {
        transform: translateY(180.2px);
        transition: 0.5s;
    }

    nav .nav-right #menu_btn {
        display: block;
        border: none;
        background: none;
        font-size: 24px;
    }
}

/* INTRODUCTION SECTION */

.intro_section {
    padding: 55px 0 60px;
}

.intro_section .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro_section .intro-left,
.intro_section .intro-right {
    width: 40%;
}

.intro_section .intro-left h1 {
    color: var(--primary-color);
    font-size: 45px;
    font-weight: 600;
}

.intro_section .intro-left p {
    margin: 20px 0 30px;
    font-weight: 400;
    font-size: 20px;
    list-style: 27px;
    color: var(--primary-color);
}

.intro_section .intro-left button {
    background: rgba(67, 165, 72, 1);
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 1000px;
    padding: 10px 30px;
    color: rgba(247, 248, 248, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition: 0.3s;
}

.intro_section .intro-left button:hover {
    transition: 0.3s;
    color: rgba(67, 165, 72, 1);
    border: 1px solid rgba(67, 165, 72, 1);
    background: rgba(247, 248, 248, 1);
}

.intro_section .intro-right img {
    width: 100%;
}

@media(max-width:900px) {
    .intro_section {
        padding: 32px 20px 20px;
    }

    .intro_section .wrapper {
        display: block;
    }

    .intro_section .intro-left,
    .intro_section .intro-right {
        width: 100%;
    }

    .intro_section .intro-right {
        margin-top: 20px;
    }

    .intro_section .intro-left h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .intro_section .intro-left p {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
    }
}

/* INTROBOX SECTION */

.introbox_section {
    background: var(--backround-color);
    padding: 60px 0;
}

.introbox_section img {
    width: 100%;
}

.introbox_section .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.introbox_section .intro50box,
.introbox_section .intro40box {
    background: var(--color-white);
    padding: 40px;
    border-radius: 40px;
}

.introbox_section .intro50box {
    width: calc(50% - 100px);
}

.introbox_section .intro40box {
    width: calc(100% / 3 - 100px);
}

.introbox_section h4 {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
}

.introbox_section p {
    color: var(--text-color-1);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin: 14px 0 32px;
}

.introbox_section a {
    text-decoration: none;
    color: var(--link-color-1);
    border: 1px solid var(--link-color-1);
    padding: 10px 30px;
    border-radius: 1000px;
    transition: 0.3s;
}

.introbox_section a:hover {
    transition: 0.3s;
    background: linear-gradient(100.98deg, #43A548 -4.14%, #52E259 108.69%);
    color: var(--color-white);
}

.introbox_section .intro100box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 80px);
    border-radius: 40px;
    padding: 32px;
    background: linear-gradient(252.7deg, #EBF5EB 17.34%, #EFFBF0 90.57%);
}

.introbox_section .intro100box div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.introbox_section .intro100box div span {
    color: var(--link-color-1);
    font-weight: 500;
    font-size: 20px;
    line-break: 27px;
}

.introbox_section .intro100box div button {
    border-radius: 1000px;
    padding: 10px 30px;
    background: var(--link-color-1);
    cursor: pointer;
    border: none;
    font-weight: 600;
    color: var(--color-white);
    font-size: 16px;
    line-height: 22px;
    transition: 0.4s;
}

.introbox_section .intro100box div button:hover {
    background: linear-gradient(100.98deg, #43A548 -4.14%, #52E259 108.69%);
    transition: 0.4s;
}

.introbox_section .intro100box img {
    width: 40px;
    height: 40px;
}

@media(max-width:900px) {
    .introbox_section {
        padding: 20px;
    }

    .introbox_section .wrapper {
        display: block;
    }

    .introbox_section .intro50box,
    .introbox_section .intro40box,
    .introbox_section .intro100box {
        margin: 10px 0;
        width: auto;
    }

    .intro100box {
        display: block !important;
    }

    .intro100box div {
        margin: 10px 0;
    }
}

/* COMFORTS COMPARE SECTION */

.comforts_section {
    padding: 59px 0 159px 0;
    background: var(--backround-color);
}

.comforts_section h3 {
    font-weight: 600;
    font-size: 28px;
    color: var(--primary-color);
    line-height: 39px;
    margin-bottom: 60px;
}

.comforts_section .compare-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.comforts_section .compare-left {
    background: var(--color-white);
}

.comforts_section .compare-right {
    background: linear-gradient(252.7deg, #E5F6E6 17.34%, #DFF7E0 90.57%);
}

.comforts_section .compare-left,
.comforts_section .compare-right {
    padding: 40px;
    border-radius: 40px;
}

.comforts_section .compare-left h4,
.comforts_section .compare-right h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 40px;
}

.comforts_section .compare-left ul,
.comforts_section .compare-right ul {
    list-style-type: none;
}

.comforts_section .compare-left ul li,
.comforts_section .compare-right ul li {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 0 20px 0;
}

.comforts_section .compare-left ul li span:last-child,
.comforts_section .compare-right ul li span:last-child {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: rgba(61, 70, 65, 1);
}

@media(max-width:900px) {
    .comforts_section {
        padding: 20px;
    }

    .comforts_section .compare-box {
        display: block;
    }

    .comforts_section .compare-left {
        margin-bottom: 10px;
    }
}

/* COMFORTABLE PRODUCT SECTION */

.comfort_products_section {
    background: linear-gradient(252.7deg, #EBF5EB 17.34%, #EFFBF0 90.57%);
    padding: 60px 0;
}

.comfort_products_section .subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.comfort_products_section .subheader h3 {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 600;
    line-height: 39.03px;
}

.comfort_products_section .subheader a {
    text-decoration: none;
    background: var(--link-color-1);
    padding: 12px 30px;
    border-radius: 1000px;
    color: rgba(247, 248, 248, 1);
    transition: 0.3s;
}

.comfort_products_section .subheader a:hover {
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(67, 165, 72, 0.4);
}

.comfort_products_section .carousel .slick-slide {
    margin: 0 10px;
}

.comfort_products_section .carousel-card {
    box-shadow: var(--box-shadow);
    padding: 40px;
    border-radius: 40px;
    background: var(--backround-color);
}

.comfort_products_section .carousel-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.comfort_products_section .carousel-card-top h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 27.88px;
    color: var(--primary-color);
}

.comfort_products_section .carousel-card-top span {
    border: 1px solid var(--link-color-1);
    padding: 4px 10px;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.51px;
    color: var(--link-color-1);
}


.comfort_products_section ul {
    padding-left: 15px;
}

.comfort_products_section ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.51px;
    color: rgba(131, 134, 132, 1);
}

.comfort_products_section .carousel-link {
    text-align: right;
    margin: 20px 0 0 0;
}

.comfort_products_section .carousel-link a {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.51px;
    text-decoration: none;
    transition: 0.3s;
    color: var(--link-color-1);
}

.comfort_products_section .carousel-link a:hover {
    transition: 0.3s;
    color: var(--link-color-2);
}

@media(max-width:550px) {
    .comfort_products_section .subheader {
        display: block;
        text-align: center;
    }

    .comfort_products_section .subheader a {
        display: inline-block;
        margin-top: 15px;
    }
}

/* TECH SUPPORT */

.tech_suppport {
    background: var(--backround-color);
    padding: 120px 0 60px 0;
}

.tech_suppport .support {
    padding: 40px;
    gap: 0px;
    border-radius: 40px;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.tech_suppport .support .sp-right {
    background: linear-gradient(252.7deg, #EBF5EB 17.34%, #EFFBF0 90.57%);
    padding: 40px;
    border-radius: 40px;
}

.tech_suppport .support .sp-left h4 {
    font-size: 26px;
    font-weight: 600;
    line-height: 36.24px;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.tech_suppport .support .sp-left p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.3px;
    color: var(--primary-color);
}

.tech_suppport .support .sp-left p a {
    text-decoration: none;
    color: var(--link-color-1);
}

.tech_suppport .support .sp-right .support-box {
    margin-top: 20px;
    text-align: center;
}

.tech_suppport .support .sp-right .support-box div:nth-child(2) {
    margin-top: 15px;
}

.tech_suppport .support .sp-right .support-box a {
    text-decoration: none;
    color: var(--link-color-2);
}

@media(max-width:900px) {
    .tech_suppport {
        padding: 20px;
    }

    .tech_suppport .support {
        display: block;
    }

    .tech_suppport .support .sp-right {
        margin-top: 20px;
    }
}

/* SHOPING SECTION */

.for_shop {
    background: var(--backround-color);
    padding: 60px 0;
}

.for_shop img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.for_shop .shop-main {
    display: flex;
    align-items: center;
    gap: 180px;
}

.for_shop .shop-main .shm-left h4 {
    font-size: 26px;
    font-weight: 600;
    line-height: 36.24px;
    color: var(--primary-color);
}

.for_shop .shop-main .shm-right .shm-boxes {
    background: var(--color-white);
    border-radius: 40px;
    padding: 40px;
    box-shadow: var(--box-shadow);
}

.for_shop .shop-main .shm-right .shm-boxes h5 {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 20px;
}

.for_shop .shop-main .shm-right .shm-boxes p {
    color: var(--text-color-1);
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}

.for_shop .shop-main .shm-right .shm-boxes a {
    text-decoration: none;
    color: var(--link-color-1);
    transition: 0.2s;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
}

.for_shop .shop-main .shm-right .shm-boxes a:hover {
    transition: 0.2s;
    color: var(--link-color-2);
}

@media(max-width:900px) {
    .for_shop {
        padding: 20px;
    }

    .for_shop .shop-main {
        display: block;
    }

    .for_shop img {
        width: 160px;
        height: 160px;
        object-fit: cover;
    }
}

/* FORM SECTION */

.form_section {
    background: var(--backround-color);
}

.form_section .form-main {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    border-radius: 40px;
    background: linear-gradient(100.98deg, #43A548 -4.14%, #52E259 108.69%);
}

.form_section .fm-left,
.form_section .fm-right {
    width: calc(50% - 80px);
}

.form_section .fm-left h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 44.6px;
    color: var(--color-white);
}

.form_section .fm-left p {
    font-size: 20px;
    font-weight: 400;
    line-height: 27.88px;
    color: var(--color-white);
}

.form_section .fm-right input {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.form_section .fm-right-submit {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form_section .fm-right-submit p {
    font-size: 12px;
    font-weight: 400;
    line-height: 17.27px;
}

.form_section .fm-right div:nth-child(1) p,
.form_section .fm-right div:nth-child(2) p,
.form_section .fm-right div:nth-child(3) p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.3px;
    color: var(--color-white);
    margin-bottom: 8px;
}


.form_section .fm-right-submit button {
    background: var(--primary-color);
    padding: 12px 30px;
    border-radius: 1000px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    line-height: 22.3px;
    cursor: pointer;
}

@media(max-width:700px) {
    .form_section {
        padding: 20px;
        text-align: center;
    }

    .form_section .form-main {
        display: block;
    }

    .form_section .fm-left,
    .form_section .fm-right {
        width: auto;
    }

    .fm-right-submit {
        display: block !important;
    }
}

/* ANSWER and QUESTION */

.answer_question {
    background: var(--backround-color);
    padding: 120px 0;
}

.answer_question h4 {
    font-size: 32px;
    font-weight: 600;
    line-height: 44.6px;
    color: var(--primary-color);
    margin-bottom: 60px;
}

.answer_question .questions {
    background: var(--color-white);
    padding: 20px 40px;
    border-radius: 40px;
    position: relative;
}

.answer_question .last_box {
    background: linear-gradient(178.11deg, #43A548 -147.02%, #52E259 286.68%);
}

.answer_question .last_box p {
    justify-content: center !important;
    gap: 60px;
}

.answer_question .last_box button {
    padding: 12px 30px;
    background: rgba(247, 248, 248, 1);
    color: var(--link-color-1);
    font-size: 16px;
    font-weight: 600;
    line-height: 22.3px;
    border-radius: 1000px;
    cursor: pointer;
    border: none;
}

.answer_question .questions p:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 600;
    line-height: 27.88px;
    cursor: pointer;
}

.answer_question .questions p:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.51px;
    color: var(--text-color-1);
    margin-top: 20px;
    display: none;
}

@media(max-width:600px) {
    .answer_question {
        padding: 20px;
    }

    .answer_question h4 {
        text-align: center;
    }

    .answer_question .last_box p {
        display: block !important;
        text-align: center;
    }
}

/* KNOWLAGE SECTION */

.knowlage_section {
    background: var(--backround-color);
    padding: 120px 0;
}

.knowlage_section .subheader {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 60px;
}

.knowlage_section .subheader h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 44.6px;
    color: var(--primary-color);
}

.knowlage_section .subheader a {
    padding: 12px 30px;
    background: var(--link-color-1);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.3px;
    border-radius: 1000px;
    color: var(--color-white);
}

.knowlage_section .card {
    border-radius: 40px;
    background: var(--color-white);
}

.knowlage_section .card div:nth-child(2) {
    padding: 30px;
    text-align: right;
}

.knowlage_section .card div:nth-child(2) p {
    text-align: start;
    margin-bottom: 20px;
}

.knowlage_section .card div:nth-child(2) a {
    text-decoration: none;
    color: var(--link-color-1);
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.3px;
}

.knowlage_section .card div:nth-child(2) a:hover {
    transition: 0.3s;
    color: var(--link-color-2);
}

.knowlage_section .card img {
    width: 100%;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
}

.knowlage_section .carousel .slick-slide {
    margin: 0 10px;
}

@media(max-width:700px) {
    .knowlage_section {
        padding: 20px;
    }

    .knowlage_section .subheader {
        display: block;
        text-align: center;
    }

    .knowlage_section .subheader h3 {
        margin-bottom: 20px;
    }
}

/* SPONSOR SECTION */

.sponsor_section {
    background: var(--backround-color);
    padding-bottom: 120px;
}

.sponsor_section h3 {
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 600;
    line-height: 44.6px;
    margin-bottom: 60px;
}

.sponsor_section .sponsorbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sponsor_section .sponsorbox img {
    width: 100%;
}

@media(max-width:700px) {
    .sponsor_section {
        padding: 20px;
        text-align: center;
    }

    .sponsor_section .sponsorbox {
        display: block;
    }

    .sponsor_section .sponsorbox span {
        margin-top: 15px;
    }

    .sponsor_section .sponsorbox img {
        width: 80%;
    }
}

/* FOOTER */

footer {
    background: var(--primary-color);
    padding: 30px 0;
}

footer .footer-main {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 15px;
}

.footer-main .ft-1 .ft-1-rw-1 a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    line-height: 33.45px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-main .ft-1 .ft-1-rw-1 img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.footer-main .ft-1-rw-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.footer-main .ft-1-rw-2 span {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.3px;
    color: var(--text-color-1);
}

.footer-main .ft-1-rw-2 a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 600;
    line-height: 33.45px;
    transition: 0.3s;
}

.footer-main .ft-1-rw-2 a:hover {
    transition: 0.3s;
    color: var(--link-color-1);
}

.footer-main .ft-1-rw-2 button {
    background: var(--link-color-1);
    padding: 10px 25px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.3px;
    color: var(--color-white);
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.footer-main .ft-1-rw-2 button:hover {
    background: linear-gradient(100.98deg, #43A548 -4.14%, #52E259 108.69%);
}

.footer-main .ft-1-rw-3 p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22.3px;
    color: var(--text-color-1);
}

.footer-main .ft-2 h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 27.88px;
    color: var(--color-white);
    margin-bottom: 32px;
}

.footer-main .ft-2 ul {
    list-style-type: none;
}

.footer-main .ft-2 ul li {
    margin-bottom: 20px;
}

.footer-main .ft-2 ul li a {
    text-decoration: none;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 22.3px;
    transition: 0.3s;
}

.footer-main .ft-2 ul li a:hover {
    transition: 0.3s;
    color: var(--link-color-2);
}

footer .footer-bottom-text,
footer .footer-bottom-text a {
    border-top: 1px solid rgba(73, 73, 73, 1);
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: var(--text-color-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

footer .footer-bottom-text a {
    border: none;
    padding: 0;
    transition: 0.3s;
}

footer .footer-bottom-text a:hover {
    transition: 0.3s;
    color: var(--link-color-2);
}

@media(max-width:1260px) {
    footer {
        padding: 30px;
    }

    footer .footer-main {
        margin-bottom: 20px;
    }
}

@media(max-width:1100px) {
    footer .footer-main .ft-1-rw-1 a{
        display: inline-flex !important;
    }
    footer .footer-main .ft-1-rw-1,
    footer .footer-main .ft-1-rw-2,
    footer .footer-main .ft-1-rw-3 {
        display: block;
        text-align: center;
    }
}

@media(max-width:650px) {
    footer .footer-main {
        display: block;
        text-align: center;
    }

    footer .footer-main .ft-2 {
        margin: 10px 0;
    }
}