<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- Slick Carousel CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>

<body>

    <main>
        <nav>
            <div class="wrapper">
                <div class="nav-left">
                    <a href="/">
                        <span><img src="assets/image 1.png" alt="rozn-logo"></span>
                        <span>1С-Товары</span>
                    </a>
                </div>
                <div class="nav-right">
                    <ul id="menu">
                        <li>
                            <a href="">Как это работает</a>
                        </li>
                        <li>
                            <a href="">Инструкции</a>
                        </li>
                        <li>
                            <a href="">Продукты</a>
                        </li>
                        <li>
                            <a href="">База знаний </a>
                        </li>
                        <li>
                            <a href="">О нас</a>
                        </li>
                        <li>
                            <button>Вход</button>
                        </li>
                    </ul>
                    <button id="menu_btn"><i class="ri-menu-line"></i></button>
                </div>
            </div>
        </nav>
        <section class="intro_section">
            <div class="wrapper">
                <div class="intro-left">
                    <h1>Управление запасами розничного магазина</h1>
                    <p>Использование сервиса 1С-Товары позволяет значительно упростить работу по формированию заявок
                        поставщику.</p>
                    <button>Заказать демонстрацию</button>
                </div>
                <div class="intro-right">
                    <img src="assets/Grocery shopping-amico 2.png" alt="">
                </div>
            </div>
        </section>
        <section class="introbox_section">
            <div class="wrapper">
                <div class="intro50box">
                    <h4>
                        <span>
                            <img src="assets/Frame 317-1.png" alt="settings icon">
                        </span>
                        <span>Управление запасами</span>
                    </h4>
                    <p>Сервис 1С-Товары позволяет рассчитать необходимое количество товаров на полках (уровень запасов),
                        помогает организовать систему контроля за остатками товаров, а также вовремя и в нужном
                        количестве закупать у поставщиков.</p>
                    <a href="">Подробнее</a>
                </div>
                <div class="intro50box">
                    <h4>
                        <span>
                            <img src="assets/Frame 317.png" alt="hanlde icon">
                        </span>
                        <span>Автозаказ товаров</span>
                    </h4>
                    <p>Сервис 1С-Товары позволяет рассчитать прогноз спроса. Сервис работает с равномерным и редким
                        спросом для разных видов товаров. Автоматически подбирает подходящий метод расчета и позволяет
                        внести корректировки в выполняемые расчеты.</p>
                    <a href="">Подробнее</a>
                </div>
                <div class="intro40box">
                    <h4>
                        <span>
                            <img src="assets/Frame 317 (1).png" alt="analyz icon">
                        </span>
                        <span>Автозаказ товаров</span>
                    </h4>
                    <p>Система контроля упущенных продаж позволяет увеличить выручку. Средний чек, минимальный чек,
                        максимальный чек - это пример показателей, которые анализирует сервис 1С-Товары, а также
                        предлагает ряд инструментов для управления ценой и торговой наценкой.</p>
                    <a href="">Подробнее</a>
                </div>
                <div class="intro40box">
                    <h4>
                        <span>
                            <img src="assets/Frame 317 (2).png" alt="prognoz icon">
                        </span>
                        <span>Прогнозирование спроса</span>
                    </h4>
                    <p>Сервис 1С-Товары позволяет рассчитать прогноз спроса. Сервис работает с равномерным и редким
                        спросом для разных видов товаров. Автоматически подбирает подходящий метод расчета и позволяет
                        внести корректировки в выполняемые расчеты.</p>
                    <a href="">Подробнее</a>
                </div>
                <div class="intro40box">
                    <h4>
                        <span>
                            <img src="assets/Frame 317 (3).png" alt="prognoz icon">
                        </span>
                        <span>Управление поставками</span>
                    </h4>
                    <p>Сервис 1С-Товары позволяет рассчитать прогноз спроса. Сервис работает с равномерным и редким
                        спросом для разных видов товаров. Автоматически подбирает подходящий метод расчета и позволяет
                        внести корректировки в выполняемые расчеты.</p>
                    <a href="">Подробнее</a>
                </div>
                <div class="intro50box">
                    <h4>
                        <span>
                            <img src="assets/Frame 317 (4).png" alt="settings icon">
                        </span>
                        <span>Управление ассортиментом</span>
                    </h4>
                    <p>Сервис 1С-Товары позволяет определить ассортиментную матрицу. Быстро и просто принять решение о
                        том какие товары вывести из ассортимента, а наличие каких увеличить на полках магазина. Сервис
                        позволяет узнать необходимую информацию: динамику продаж и остатков, периоды дефицита, размер
                        оптимального остатка.</p>
                    <a href="">Подробнее</a>
                </div>
                <div class="intro50box">
                    <h4>
                        <span>
                            <img src="assets/Frame 317 (5).png" alt="settings icon">
                        </span>
                        <span>Управление продажами</span>
                    </h4>
                    <p>Сервис 1С-Товары позволяет определить ассортиментную матрицу. Быстро и просто принять решение о
                        том какие товары вывести из ассортимента, а наличие каких увеличить на полках магазина. Сервис
                        позволяет узнать необходимую информацию: динамику продаж и остатков, периоды дефицита, размер
                        оптимального остатка.</p>
                    <a href="">Подробнее</a>
                </div>
                <div class="intro100box">
                    <div>
                        <span><img src="assets/gift-01.svg" alt="gift"></span>
                        <span>Подключи любой продукт на 1 месяц бесплатно и оцени наши приемущества</span>
                    </div>
                    <div>
                        <button>Подключить сейчас</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="comforts_section">
            <div class="wrapper">
                <h3>С нами удобнее</h3>
                <div class="compare-box">
                    <div class="compare-left">
                        <h4>Без 1С-Товары</h4>
                        <ul>
                            <li>
                                <span><i class="ri-close-line"
                                        style="font-size: 24px; color:rgba(226, 27, 77, 1);"></i></span>
                                <span>Лишний товар складируется и не продается</span>
                            </li>
                            <li>
                                <span><i class="ri-close-line"
                                        style="font-size: 24px; color:rgba(226, 27, 77, 1);"></i></span>
                                <span>Постоянно приходится думать какой продукт будет актуален, а какой стоит выводить
                                    из ассортимента</span>
                            </li>
                            <li>
                                <span><i class="ri-close-line"
                                        style="font-size: 24px; color:rgba(226, 27, 77, 1);"></i></span>
                                <span>Лишний товар складируется и не продается</span>
                            </li>
                            <li>
                                <span><i class="ri-close-line"
                                        style="font-size: 24px; color:rgba(226, 27, 77, 1);"></i></span>
                                <span>Постоянно приходится думать какой продукт будет актуален, а какой стоит выводить
                                    из ассортимента</span>
                            </li>
                            <li>
                                <span><i class="ri-close-line"
                                        style="font-size: 24px; color:rgba(226, 27, 77, 1);"></i></span>
                                <span>Лишний товар складируется и не продается</span>
                            </li>
                            <li>
                                <span><i class="ri-close-line"
                                        style="font-size: 24px; color:rgba(226, 27, 77, 1);"></i></span>
                                <span>Постоянно приходится думать какой продукт будет актуален, а какой стоит выводить
                                    из ассортимента</span>
                            </li>
                            <li>
                                <span><i class="ri-close-line"
                                        style="font-size: 24px; color:rgba(226, 27, 77, 1);"></i></span>
                                <span>Лишний товар складируется и не продается</span>
                            </li>
                        </ul>
                    </div>
                    <div class="compare-right">
                        <h4>Вместе с 1С-Товары</h4>
                        <ul>
                            <li>
                                <span><i class="ri-check-line"
                                        style="font-size: 24px; color: rgba(67, 165, 72, 1);"></i></span>
                                <span>Организованная система остатков</span>
                            </li>
                            <li>
                                <span><i class="ri-check-line"
                                        style="font-size: 24px; color: rgba(67, 165, 72, 1);"></i></span>
                                <span>В магазине есть определенная ассортиментная матрица, поддерживающая актуальный
                                    ассортимент </span>
                            </li>
                            <li>
                                <span><i class="ri-check-line"
                                        style="font-size: 24px; color: rgba(67, 165, 72, 1);"></i></span>
                                <span>Рассчитанный прогноз спроса</span>
                            </li>
                            <li>
                                <span><i class="ri-check-line"
                                        style="font-size: 24px; color: rgba(67, 165, 72, 1);"></i></span>
                                <span>В магазине есть определенная ассортиментная матрица, поддерживающая актуальный
                                    ассортимент </span>
                            </li>
                            <li>
                                <span><i class="ri-check-line"
                                        style="font-size: 24px; color: rgba(67, 165, 72, 1);"></i></span>
                                <span>Организованная система остатков</span>
                            </li>
                            <li>
                                <span><i class="ri-check-line"
                                        style="font-size: 24px; color: rgba(67, 165, 72, 1);"></i></span>
                                <span>В магазине есть определенная ассортиментная матрица, поддерживающая актуальный
                                    ассортимент </span>
                            </li>
                            <li>
                                <span><i class="ri-check-line"
                                        style="font-size: 24px; color: rgba(67, 165, 72, 1);"></i></span>
                                <span>Система контроля упущенных продаж</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="comfort_products_section">
            <div class="wrapper">
                <div class="subheader">
                    <h3>Популярные продукты</h3>
                    <a href="/">Все продукты</a>
                </div>
                <div class="carousel">
                    <div class="carousel-card">
                        <div class="carousel-card-top">
                            <h5>1С-Товары 300</h5>
                            <span>400 руб/мес</span>
                        </div>
                        <ul>
                            <li>Прогноз спроса с использованием сервера прогнозирования (ограничение – 300 товаров)</li>
                            <li>Контроль товарных остатков и автоматический заказ товаров (ограничение – 300 товаров)
                            </li>
                            <li>Анализ работы розничного магазина или сети магазинов</li>
                            <li>Рекомендации по управлению ассортиментом (1С-Ритейл Чекер)</li>
                        </ul>
                    </div>
                    <div class="carousel-card">
                        <div class="carousel-card-top">
                            <h5>1С-Товары 30000</h5>
                            <span>1700 руб/мес</span>
                        </div>
                        <ul>
                            <li>Прогноз спроса с использованием сервера прогнозирования (ограничение – 300 товаров)</li>
                            <li>Контроль товарных остатков и автоматический заказ товаров (ограничение – 300 товаров)
                            </li>
                            <li>Анализ работы розничного магазина или сети магазинов</li>
                            <li>Рекомендации по управлению ассортиментом (1С-Ритейл Чекер)</li>
                        </ul>
                    </div>
                    <div class="carousel-card">
                        <div class="carousel-card-top">
                            <h5>1С-Товары</h5>
                            <span>4500 руб/мес</span>
                        </div>
                        <ul>
                            <li>Прогноз спроса с использованием сервера прогнозирования (ограничение – 300 товаров)</li>
                            <li>Контроль товарных остатков и автоматический заказ товаров (ограничение – 300 товаров)
                            </li>
                            <li>Анализ работы розничного магазина или сети магазинов</li>
                            <li>Рекомендации по управлению ассортиментом (1С-Ритейл Чекер)</li>
                        </ul>
                    </div>
                    <div class="carousel-card">
                        <div class="carousel-card-top">
                            <h5>1С-Товары 50000</h5>
                            <span>6000 руб/мес</span>
                        </div>
                        <ul>
                            <li>Прогноз спроса с использованием сервера прогнозирования (ограничение – 300 товаров)</li>
                            <li>Контроль товарных остатков и автоматический заказ товаров (ограничение – 300 товаров)
                            </li>
                            <li>Анализ работы розничного магазина или сети магазинов</li>
                            <li>Рекомендации по управлению ассортиментом (1С-Ритейл Чекер)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
    <script src="js/home.js"></script>
</body>

</html>